html,body {
    height: 100%;
    width: 100%;
    background: black;
  }
  
  div{
    width: 400px;
    height: 100px;
    background-color:white;
  border: white;
      text-align: center;
    font-size:500%;
    
  }
  #clock{
  
   margin-top:20% ;
  margin-left:34%;
  
  
  }
  
  